body{
    background-image: linear-gradient(to top,#F20505,#D93D04,#F27405,#F29F05,#F2B705);
}

.cabecalho {
    background-image: url(../imagens/fundored2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:  'corp', Helvetica, sans-serif ;
    font-size: 20px;
    color: #f1ecff;
}

.cabecalho .boom {
    height: 100px;
    width: 130px;
}

h2{
    display: flex ;
    align-items: center;
    justify-content: center;
    padding: 40px;
    font-size: 34px;
    font-family: 'aveng', Helvetica, sans-serif;
}

@font-face {
    font-family: 'aveng';
    src: url('../fonte/AVENGEANCE HEROIC AVENGER AT.ttf') format('truetype');
    font-size: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'corp';
    src: url(../fonte/corp.ttf) format('truetype');
}

/* Menu Horizontal */

.topicos {

    background-color: black;
    padding: 25px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Outfit',sans-serif;
}

.topicos ul li {
    display: inline;
    padding: 20px;

}

.topicos ul li a {
    margin: 20px;
    font-size: 20px;
    text-decoration: none;
    color: white;

    transition: 0.7s;
}

.topicos ul li a :hover {
    background-color: orange;
    color: black;
}

/* Carrosel */


.slider{
    margin: 0 auto;
    width: 95%;
    height: 400px;
    overflow: hidden;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 2s;

}

.slide img{
    width: 100%;
    height: 100%;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    margin-left: 260px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #FFF;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: rgb(255, 255, 91);
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

.navigation-auto div{
    border: 2px solid yellow;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-left: 260px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto  div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: yellow;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: yellow;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: yellow;
}

/* Catálogo */

.fundo-cat{
    background-image: url('../imagens/fundoy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 80px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cat-wrapper{
    max-width: 1000px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px,1fr));
    grid-gap: 30px;
    align-items: center;
    justify-content: center;
    margin-left: 73px;
    padding-bottom: 20px;
}

.card-item{
  height: 400px;
  background-color: #f20505d0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-item img{
    height: 250px;
    width: 175px;
    padding: 15px;
}

.card-content{
    height: 40%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-around;
}

.btn-buy{
    width: 167px;
    padding: 15px 0px;
    border: none;
    background-color:#000cf5c5;
    border-radius: 4px;
    color: #FFF;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
    transition: 0.3s ease;
    margin-bottom: 10px;
}

.btn-buy:hover{
    background-color: #FFF;
    color: #000cf5c5;
}

.item-name{
    padding: 5px;
    font-family: 'Outfit', Geneva, Tahoma, sans-serif;
    color: #FFF;
}

.preco{
     font-size: 20px;
     padding: 7px;
     font-family: 'Outfit', Courier, monospace;
}

#btn-trad{
    width: 30%;
    padding: 10px 0px;
    border-radius: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5em;
    margin:100px 100px 100px 480px;
    cursor: pointer;
    transition: 0.3s ease;
    background-color: black;
    color: white;
    font-family: 'Outfit', Courier, monospace;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#btn-trad:hover{
   color: black;
    background-color: #FFF;
}

